<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('css/styleAdmin.css')}}">
    <title>Document</title>
</head>
<body>

<header>
			<nav>
				<a href="{{ path('admin_comic_list' )}}">comics</a>
                <a href="{{ path('admin_designer_list' )}}">designers</a>
				<a href="{{ path('admin_editor_list' )}}">editors</a>
				<a href="{{ path('admin_licence_list' )}}">licences</a>
				<a href="{{ path('admin_writer_list' )}}">writer</a>
				{# <a href="{{ path('admin_writer_list' )}}">user</a> #}
                <ul>
    <li class="deroulant"><a href="#">add &ensp;</a>
      <ul class="sous">
        <li><a href="{{ path('admin_create_comic' )}}">Ajouter un Comic</a></li>
        <li><a href="{{ path('admin_create_designer' )}}">Ajouter un Designer</a></li>
        <li><a href="{{ path('admin_create_editor' )}}">Ajouter un Editor</a></li>
        <li><a href="{{ path('admin_create_licence' )}}">Ajouter une Licence</a></li>
        <li><a href="{{ path('admin_create_writer' )}}">Ajouter un Writer</a></li>
        
      </ul>
    </li>
			</nav>
		</header>
<div class="glob-const">
		<h1>
			{{ admin }}
		</h1>
	</div>

  {% for grlicence in glicences.getAll %}
			<h4>{{ grlicence.name }}</h4>
		{% endfor %}
  
  {% for greditor in geditors.getAll %}
			<h4>{{ greditor.name }}</h4>
		{% endfor %}
    
    {% block main %}
        
    {% endblock %}
</body>
</html>